/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.App {
  font-family: sans-serif;
  text-align: center;
}

.row-header {
  display: flex;
}

.col-left  {
  width: 33%;
}

.col-right {
  width: 66%;
}

body {
  color: #eeeeee;
  background-color: black;
}

h1 {
  color: #dddddd;
}

.popup-text{
  color: black;
}